<nav class="site-nav">
  <ul>
    {{#each pagesNested}}
        {{#eq type 'page'}}
          {{#not metadata.hideInNav}}
            <li>
              {{> components/nav-link currentUrl=../currentUrl}}
            </li>
          {{/not}}
        {{/eq}}
        {{#eq type 'section'}}
          <li>
            {{> components/nav-link currentUrl=../currentUrl}}
            {{#gt subpages.length 1}}
              <ul class="sub">
                {{#each subpages}}
                  {{!-- skip first index because it is covered by section link above --}}
                  {{#gt @index 0}}
                    <li class="sub-item">
                      {{> components/nav-link currentUrl=../../currentUrl}}
                    </li>
                  {{/gt}}
                {{/each}}
              </ul>
            {{/gt}}
          </li>
        {{/eq}}
    {{/each}}
  </ul>
</nav>
