<nav>
  {{#each pages}}
    {{#not metadata.hideInNav}}
      <a href="{{#getPageUrl this}}{{/getPageUrl}}"{{#is ../pageTitle metadata.pageTitle}} class="active"{{/is}}>{{metadata.pageTitle}}</a>
    {{/not}}
  {{/each}}
</nav>
