<nav class="social">
  <div class="facebook">
    <a href="https://facebook.com" target="_blank">
      {{#inlineFile 'public/images/facebook.svg'}}{{/inlineFile}}
    </a>
  </div>
  <div class="instagram">
    <a href="https://www.instagram.com/seamproject/" target="_blank">
      {{#inlineFile 'public/images/instagram.svg'}}{{/inlineFile}}
    </a>
  </div>

  <a class="support" href="https://www.gofundme.com/seam-project" target="_blank">Support</a>
  
</nav>
