<nav class="social">

  <div class="facebook">
    <a href="https://www.facebook.com/events/576189466111576" target="_blank">
      {{#inlineFile 'public/images/facebook.svg'}}{{/inlineFile}}
    </a>
  </div>

  <div class="instagram">
    <a href="https://www.instagram.com/seamproject/" target="_blank">
      {{#inlineFile 'public/images/instagram.svg'}}{{/inlineFile}}
    </a>
  </div>

  <a class="support button" href="{{GOFUNDME_URL}}" target="_blank">Support</a>

</nav>
