{{!--
pageTitle: Past Shows
--}}
  {{#getSectionPages pagesNested 'performances/past'}}
    <ul class="list">
      {{#each this}}
        <li><a href="/{{this.route}}">{{this.metadata.pageTitle}}</a></li>
      {{/each}}
    </ul>
  {{/getSectionPages}}
