{{!--
pageTitle: Past Shows
hideInNav: true
--}}
  {{#getSectionPages pagesNested 'performances/past'}}
    <ul class="list">
      {{#each this}}
        {{#not this.metadata.hideInNav}}
          <li><a href="/{{this.route}}">{{this.metadata.pageTitle}}</a></li>
        {{/not}}
      {{/each}}
    </ul>
  {{/getSectionPages}}
