{{!--
pageTitle: Seam South 2018
title: Seam South 2018
sectionName: performances
pageIndex: 1
--}}
{{#markdown}}
The Seam Project consists of four shows in four months, with each gathering showcasing the work of four to eight neighborhood artists and their collaborators on a 4x4 stage in the yard of a house.

Our first show, South, will be at 8pm on Saturday, September 15th and will showcase the work of Yvonne Keyrouz, Judd Farris, Emily Rushing, Taryn Lavery, Katie Gunderson, and Rosalyn Nasky.
{{/markdown}}

<div class="event-profile south">
  {{!-- <p><a href="{{FACEBOOK_URL}}" class="button" style="margin-left: 0;" target=_blank>RSVP on Facebook</a></p> --}}
  <h2><span class="highlight">SOUTH</span> : September 15, 2018 : 8pm</h2>
  <section class="feature" id="yvonne-emily">
    <figure class="image">
      <img src="/images/2018-west/yvonne-emily.jpg" alt="Yvonne Keyrouz and Emily Rushing" />
      <figcaption class="right">Photo by Jamie Massaro</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Yvonne Keyrouz and Emily Rushing
For their second collaboration together, Yvonne and Emily are exploring the illusion of a larger landscape within a small space, drawing inspiration from clouds and oceans and the dichotomy between feeling grounded/not grounded, out of control/in control, balanced/imbalanced.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="rosalyn">
    <figure class="image top">
      <img src="/images/2018-west/rosalyn.jpg" alt="Rosalyn Nasky" />
    </figure>
    <div class="content description">
{{#markdown}}
### Rosalyn Nasky
Rosalyn Nasky continues to explore her interests in shape, suspense, and specificity. Her hope for Seam Project is to create work that is thought-provoking as well as inclusionary, where anyone can experience the details and fill in their own meaning.
{{/markdown}}
    </div>
  </section>

  <section class="feature" id="taryn">
    <figure class="image">
      <img src="/images/2018-west/taryn-lavery.jpg" alt="Taryn Lavery" />
      <figcaption class="right">Photo credit: BLiPSWiTCH</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Taryn Lavery
Taryn Lavery is excited to be creating for Seam Project’s first 4x4 performance. She is collaborating with composer Michael Brown on a solo dance work. This piece is being created through open conversations between the two artists where each is given direct engagement with the other’s medium — freeing themselves from attachments and allowing new undercurrents to reveal themselves through each phase of the dance and music making process.
{{/markdown}}
    </div>
  </section>

  <section class="feature" id="yvonne-judd">
    <div class="content description">
{{#markdown}}
### Yvonne Keyrouz and Judd Farris
Yvonne Keyrouz and Judd Farris continue their work 'Neap Tide' in which they seek to exemplify the awareness needed for change to take place, the pain that often accompanies growth, the transcendence found in vulnerability, and the wonder that comes with transformation
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="katie">
    <figure class="image top">
      <img src="/images/2018-west/katie-gunderson.jpg" alt="Katie Gunderson" />
    </figure>
    <div class="content description">
{{#markdown}}
### Katie Gunderson
My project has turned into a duet with Ally Morales. The space confinement in this project is leading us to explore our personal boundaries. We are investigating the act of sharing personal space.
{{/markdown}}
    </div>
  </section>

</div>
