{{!--
pageTitle: Seam West 2018
title: Seam West 2018
sectionName: performances
pageIndex: 3
--}}
<div class="event-profile south">
  {{!-- <section>
    <h3 style="margin-bottom: 0;"><span class="highlight">WEST</span></span>
    <h2>November 9 - 10, 2018 : 8pm</h2>
    <a href="{{FACEBOOK_URL}}" class="button block" target=_blank>RSVP on Facebook</a>
  </section> --}}
  <section class="feature column-layout" id="tolly-mosely">
    <figure class="image">
      <img src="/images/west-2018/TOLLY.jpg" alt="Tolly Mosely" />
      <figcaption class="right">Photo by Shelley Neuman</figcaption>
    </figure>
    <div class="content description">
      <h3>Tolly Mosely</h3>
      <p>
        This is a piece about comfort: how to give it, how to receive it. Aerial dance is often used in the service of thrills; I'm interested in seeing how it can be used to soothe.
      </p>
    </div>
  </section>

  <section class="feature column-layout" id="roxanne-gage">
    <figure class="image right">
      <img src="/images/west-2018/ROXANNE.jpg" alt="Roxanne Gage" />
      <figcaption class="right">Photo by Earl McGehee</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Roxanne Gage

I am grateful to be working with two talented dancers "Sunny" Jun Shen and Emily Rushing. The work together feels easy, fun and light since we are close friends. Our personalities and the camaraderie make for a smooth creation in our challenging 4x4 space. My piece is titled "Be There". It is about true friendships.
{{/markdown}}
    <blockquote>"True friendship isn't about being inseparable, it's being separated and nothing changes."</blockquote>
    </div>
  </section>

  <section class="feature column-layout" id="katherine-hodges">
    <figure class="image">
      <img src="/images/west-2018/KATHERINE.jpg" alt="Katherine Hodges" />
      <figcaption class="right">Photo by Brigette Hutchinson</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Katherine Hodges
I'm working on a dance that plays with the idea of the person we are around others and the person we are when we are alone. And also what it feels like as a woman to be expected to travel between so many disparate social situations with ease, and to mold oneself to them. This journey will understandably lead to some severe internal conflict, and confrontation.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="cristina-jesurun">
    <figure class="image right">
      <img src="/images/west-2018/CRISTINA.png" alt="Cristina Jesurun" />
    </figure>
    <div class="content description">
{{#markdown}}
### Cristina Jesurun
I’m working on reshaping my flow in the choreographic stream. I am the same woman, back again in the same city. Neither I nor the city are the same as we were, yet both are intrinsically recognizable and familiar.
{{/markdown}}
    </div>
  </section>

</div>
