header {
  .home-link {
    display: block;
    text-indent: -999em;
    background-image: url('/images/logo-3.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
  }
}
