body {
  .bodyText();
}

h1,
h2,
h3,
h4 {
  .headlineText();
  margin-bottom: 1em;
  margin-top: 0;
}

h1 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 0;
  color: @color-light;
  z-index: 1;
  // padding-left: 999rem;
  // padding-right: 1rem;
  // transform: translateX(-999rem);
  // border-bottom: 0.1em solid @color-primary;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: @color-primary;
    top: 0;
    bottom: 0;
    right: 0;
    left: -999em;
  }
  &.simple {
    display: block;
    &:before {
      display: none;
    }
  }

  .highlight {
    font-size: 1em;
    margin: 0.2rem 0;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: @color-secondary;
}

h1,
h2,
h3,
h4,
p,
li {
  margin-top: 0;
}

.highlight {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: @color-primary;
  color: @color-light;
  font-size: 0.8em;

  &[href] {
    text-decoration: none;
    &:hover {
      background: @color-secondary;
    }
  }

  &.style-2 {
    background: @color-secondary;
  }

  &.style-3 {
    background: @color-text;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button,
.button {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  background: @color-primary;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  color: @color-light;
  border-radius: 0.5rem;
  white-space: nowrap;
  border: 1px solid @color-light;
  transition: background .1s ease-in-out;
  &:hover {
    background: @color-secondary;
  }
  &.secondary {
    background: @color-secondary;
    &:hover {
      color: @color-text;
      border-color: @color-text;
      background: @color-gray;
    }
  }
  &.block {
    width: 300px;
    white-space: normal;
    margin: 0;
    display: block;
    max-width: 100%;
  }
}

main {
  p,
  li {
    line-height: 1.2;
  }
}
