@color-primary: #365D96;
@color-secondary: #58848B;
@color-text: #333333;
@color-light: #FBF9F1;
@color-gray: #C6CCC5;

@tablet: 36em;
@desktop: 56em;
@giant: 105em;

@header-height: 75px;

.headlineText() {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.bodyText() {
  font-family: 'Source Serif Pro', serif;
}
