{{!--
pageTitle: About
title: About
sectionName: about
pageIndex: 1
--}}

<section class="mission-statement">
  <h2>Mission statement</h2>
{{#markdown}}
__The Seam Project__ is the vision of a multi-disciplinary team of artists seeking to connect their work to the neighborhoods they live in, give to, and thrive from.

The Seam Project consists of four shows in four months, with each gathering showcasing the work of four to eight neighborhood artists and their collaborators on a 4x4 stage in the yard of a house.

Each home has been selected by the region of Austin in which it sits, (South, North, West, and East.) Each show's mission is to bring performances directly to the people who live in the corresponding neighborhoods of these homes and to forge a closer knit network of community.

The ultimate goal of The Seam Project is not only to bring performances to communities, but to generate and cultivate work by the people in the community to better understand their experience as a citizen of Austin and their neighborhood.
{{/markdown}}
</section>

<section class="who-we-are">
  <h2>Who we are</h2>
  <section class="feature bio">
    <figure class="image">
      <img src="/images/bios/yvonne-silhouette.jpg" alt="Yvonne Keyrouz" />
    </figure>
    <div class="content">
{{#markdown}}
### Yvonne Keyrouz
Yvonne Keyrouz is an artist of the performing, choreographing, and teaching variety. Currently she is a teaching artist with the after-school program Leap of Joy, as well a facilitator with the Creative Learning Initiative, providing movement based instruction strategies to AISD teachers. Along with her education work, she enjoys dancing for local Austin choreographers, doing everything from poolside site specific work to quantum physics dance theatre and Bavarian folk dance.
  {{/markdown}}
    </div>
  </section>

  <section class="feature bio">
    <figure class="image">
      <img src="/images/bios/emily.jpg" alt="Emily Rushing" />
    </figure>
    <div class="content">
{{#markdown}}
### Emily Rushing
Emily is an Austin-based dancer, choreographer, and Pilates instructor.  She has had the pleasure of collaborating with many local artists and companies such as Blue Lapis Light, Kathy Dunn Hamrick, Chaddick Dance Theater, and Ellen Bartel Collective.  As a choreographer, her work has been seen in parks, film, and festivals such as Strictly Seattle Dance Festival and Austin Dance Festival.
{{/markdown}}
  </section>

  <section class="feature bio">
    <figure class="image">
      <img src="/images/bios/judd.jpg" alt="Judd Farris" />
    </figure>
    <div class="content">
{{#markdown}}
### Judd Farris
Judd Farris is an educator, actor, and collaborator of Seam Project. He is a primary collaborator with The Hidden Room Theatre, Arcos Dance, and paper chairs in Austin, Texas.
{{/markdown}}
  </section>

  <section class="feature bio">
    <figure class="image">
      <img src="/images/bios/nathan.jpg" alt="Nathan Patterson" />
    </figure>
    <div class="content">
{{#markdown}}
### Nathan Patterson
Nathan is a graphic designer collaborating with the Seam Project.
{{/markdown}}
  </section>

  <section class="feature bio column-layout layout-1-3">
    <figure class="image top">
      <img src="/images/bios/cody.jpg" alt="Cody Rushing" />
    </figure>
    <div class="content">
{{#markdown}}
### Cody Rushing
A software engineer by trade, Cody is interested in exploring unforseen ways to overlap with artists and performers to create something more.
{{/markdown}}
  </section>

</section>
