{{!--
title: Home
sectionName: home
pageIndex: 0
hideInNav: true
--}}

<h1 class="simple center">
  <span class="highlight">Creative.</span>
  <span class="highlight style-2">Community.</span>
  <span class="highlight style-3">Collaboration.</span>
</h1>

{{#markdown}}
__The Seam Project__ seeks to connect communities through creative collaboration.  By providing a platform for artists to showcase their work directly to those inside their neighborhood, we hope to encourage local dialogue and discover the common threads that we share with those around us.

The Seam Project is putting on four shows in the next four months.  All performances are neighborhood-driven, neighborhood-hosted and neighborhood-funded, and all are welcome to attend.
{{/markdown}}

<p class="center">
  <a href="/performances" class="button">Upcoming shows</a>
  <a href="{{GOFUNDME_URL}}" target="_blank" class="button">Support the Seam Project</a>
</p>
