{{!--
title: Home
sectionName: home
pageIndex: 0
hideInNav: true
--}}

<h1 class="simple center">
  <span class="highlight">Creative.</span>
  <span class="highlight style-2">Community.</span>
  <span class="highlight style-3">Collaboration.</span>
</h1>

<div class="center">
  <section>
{{#markdown}}
__The Seam Project__ seeks to connect communities through creative collaboration.  By providing a platform for artists to showcase their work directly to those inside their neighborhood, we hope to encourage local dialogue and discover the common threads that we share with those around us.

The Seam Project is putting on four shows in the next four months.  All performances are neighborhood-driven, neighborhood-hosted and neighborhood-funded, and all are welcome to attend.
{{/markdown}}
  </section>
  <section>
{{#markdown}}
The next show is <a href="{{FACEBOOK_URL}}" target="_blank" class="highlight">Seam Project North</a> which will run for two nights: Friday and Saturday October 5th and 6th at 8pm.
{{/markdown}}
  <p class="center">
    <a href="/performances" class="button">Read more</a>
    <a href="{{FACEBOOK_URL}}" class="button" target="_blank">RSVP on Facebook</a>
    <a href="{{GOFUNDME_URL}}" target="_blank" class="button">Support the Seam Project</a>
  </p>
  </section>
</div>
