{{!--
pageTitle: Performances
title: Performances
pageIndex: 1
--}}
{{#markdown}}
The Seam Project consists of four shows in four months, with each gathering showcasing the work of four to eight neighborhood artists and their collaborators on a 4x4 stage in the yard of a house.

Our first show, South, will be at 8 PM on Saturday, September 15th and will showcase the work of Emily Rushing, Cody Rushing, Yvonne Keyrouz, Judd Farris, Nathan Patterson,  Taryn Lavery, Katie Gunderson, Rosalyn Nasky.
{{/markdown}}

<div class="event-profile south">
  <h2><span class="highlight">SOUTH</span> : September 18, 2018</h2>
  <section class="artist">
    <figure class="image">
      <img src="/images/bios/yvonne-silhouette.jpg" alt="Yvonne Keyrouz" />
    </figure>
    <div class="bio">
      <h3>Yvonne Keyrouz</h3>
      <p>
        Yvonne Keyrouz is an artist of the performing, choreographing, and teaching variety. Currently she is a teaching artist with the after-school program Leap of Joy, as well a facilitator with the Creative Learning Initiative, providing movement based instruction strategies to AISD teachers. Along with her education work, she enjoys dancing for local Austin choreographers, doing everything from poolside site specific work to quantum physics dance theatre and Bavarian folk dance.
      </p>
    </div>
  </section>
  <section class="artist">
    <figure class="image">
      <img src="/images/bios/emily.jpg" alt="Emily Rushing" />
    </figure>
    <div class="bio">
      <h3>Emily Rushing</h3>
      <p>
        Emily is a dancer, choreographer and Pilates Instructor. She holds a BA in Dance from the University of Texas at Austin. Since 2008, she has been actively involved in Austin’s dance community where she has collaborated and performed with many local artists and companies including Chaddick Dance Theater, Blue Lapis Light, Jennifer Sherburn, Kathy Dunn Hamrick Dance Company, Ellen Bartel Collective, Ready/Set/Go, Blipswitch, Lisa Nicks, Lindsey Taylor, Amy Myers and Sharon Maroquín.
      </p>
    </div>
  </section>

  <section class="artist">
    <figure class="image">
      <img src="/images/bios/judd.jpg" alt="Judd Farris" />
    </figure>
    <div class="bio">
      <h3>Judd Farris</h3>
      <p>
        Judd Farris is an educator, actor, and collaborator of SEAM Project. He is a primary collaborator with The Hidden Room Theatre, Arcos Dance, and paper chairs in Austin, Texas.
      </p>
    </div>
  </section>

  <section class="artist">
    <figure class="image">
      <img src="/images/bios/rosalyn.jpeg" alt="Rosalyn Nasky" />
    </figure>
    <div class="bio">
      <h3>Rosalyn Nasky</h3>
      <p>
        Rosalyn Nasky continues to explore her interests in shape, suspense, and specificity. Her hope for Seam Project is to create work that is thought-provoking as well as inclusionary, where anyone can experience the details and fill in their own meaning.
      </p>
    </div>
  </section>

</div>
