<header>
  <a class="home-link" href="/">
    Home
  </a>
  <a class="nav-toggle" href="#">
    <span class="open">☰</span>
    <span class="close">×</span>
  </a>  
  {{> components/nav }}
</header>
