<header>
  <a class="home-link" href="/">
    Home
  </a>
  <div class="main-nav">
    {{> components/nav }}
    {{> components/social-nav }}
  </div>
  <a class="nav-toggle" href="#">
    <span class="open">☰</span>
    <span class="close">×</span>
  </a>
</header>
