{{!--
pageTitle: Upcoming shows
title: Upcoming shows
sectionName: performances
pageIndex: 2
--}}
<div class="event-profile south">
  <section>
    <h3 style="margin-bottom: 0;"><span class="highlight">EAST</span></span>
    <h2>November 30 - December 1, 2018 : 8pm</h2>
    <a href="{{FACEBOOK_URL}}" class="button block" target=_blank>RSVP on Facebook</a>
  </section>
  <section class="feature column-layout" id="alex-miller">
    <figure class="image">
      <img src="/images/east-2018/ALEX.jpg" alt="Alex Miller" />
      <figcaption class="right">Photo by Teresa May Nichta</figcaption>
    </figure>
    <div class="content description">
      <h3>Alex Miller</h3>
      <p>
        This piece touches on the loneliness that our modern society has generated through technology, specifically app-dating culture and the fruition of &quot;ghosting.&quot;
      </p>
    </div>
  </section>

  <section class="feature column-layout" id="hailley-lauren">
    <figure class="image right">
      <img src="/images/east-2018/HAILLEY.jpg" alt="Hailley Lauren" />
      <figcaption class="right">Photo by Sarah Annie Navarrete</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Hailley Lauren
#### Left Hand Path
This piece explores the use of dance as a means of invocation. I am interested in the harnessing of energy that occurs when movement is fully expressed physically and with a specific purpose as a means to transcend this plane of existence and enter into the next. Finding the space between worlds is where the magic happens. This piece is a collaboration between myself, composer Cody Cook and animator Sebastian Bisbal.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="rachael-hanlon">
    <figure class="image top">
      <img src="/images/east-2018/RACHAEL.jpg" alt="Rachael Hanlon" />
      <figcaption class="right">Photo by Maxwell Alexander</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Rachael Hanlon
The work I am creating is an exploration of energy and flow. It is a study in the subtle shifts in our experience and how we redirect our energy. I’m curious about how we remain grounded yet malleable in a constant state of flux.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="mark-stewart">
    <figure class="image right">
      <img src="/images/east-2018/MARK.jpg" alt="Mark Stewart" />
    </figure>
    <div class="content description">
{{#markdown}}
### Mark Stewart
Practice this:
Do not name what you see or hear. Do not assign a value to what you perceive. Only see and hear and smell and feel and realize you exist in the same space as what you perceive.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="lindsey-taylor">
    <figure class="image left">
      <img src="/images/east-2018/LINDSEY.jpg" alt="Lindsey Taylor" />
      <figcaption class="right">Photo by Leon Alesi</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Lindsey Taylor
#### The Final Moments of Isadora Duncan.
Google it.
{{/markdown}}
    </div>
  </section>

</div>
