{{!--
pageTitle: Upcoming Shows
title: Upcoming Shows
sectionName: performances
pageIndex: 2
--}}
<div class="event-profile south">
  <section>
    <h3 style="margin-bottom: 0;"><span class="highlight">NORTH</span></span>
    <h2>October 5 - 6, 2018 : 8pm</h2>
    <a href="{{FACEBOOK_URL}}" class="button block" target=_blank>RSVP on Facebook</a>
  </section>
  <section class="feature" id="alexa-capareda">
    <figure class="image">
      <img src="/images/north-2018/alexa-capareda.jpg" alt="Alexa Capareda" />
      <figcaption class="right">Photo by Lory Lyon</figcaption>
    </figure>
    <div class="content description">
<h3>Alexa Capareda</h3>
<h4>Accumangulation<br /><small>:a made-up word and a made-up dance</small></h4>
<p>accumulation: something that has accumulated or has been accumulated // the action or process of accumulating something: the state of being or having accumulated // increase or growth by addition especially when continuous or repeated
angulation: the action of making angular // an angular position, formation, or shape
</p>
    </div>
  </section>

  <section class="feature" id="corps-multiple">
    <figure class="image">
      <img src="/images/north-2018/sandie-donzica.jpeg" alt="Corps Multiple" />
      <figcaption class="right">Photo by Sarah Annie Navarrete</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Sandie Donzica And François Minaux (Corps Multiple)

Corps Multiple will perform an excerpt of _(UN)ROOTED_ that will be presented at The VORTEX December 13-15, 2018.

We create researched experimental scenic improvisations, based on intimate experiences from people around us, as well as human psychology and behavior. We strive to develop artistic evenings crossing genres and disciplines to produce eclectic, spontaneous and intriguing contemporary works in order to touch the senses, emotions and thoughts of the audience.We are using contemporary dance, live music, poetry and improvisation, in a symbiotic way.
{{/markdown}}
    </div>
  </section>

  <section class="feature" id="lisa-kobdish">
    <figure class="image">
      <img src="/images/north-2018/lisa-anne-kobdish.jpg" alt="Lisa Kobdish" />
      <figcaption class="right">Photo by Andrew Bennett Photography</figcaption>
    </figure>
    <div class="content description">
{{#markdown}}
### Lisa Kobdish
Conceptually, this is a casual and salty peek into the inner state of chaos both my thoughts and body confront when contemplating a most horrifying of ends. Confining such a large worry into such a small box may shine some light on things, who knows? Projections of chaotic movement from above, below, and all around will add a background layer for my movement which may both reflect and defy the imagery.
{{/markdown}}
    </div>
  </section>

  <section class="feature" id="sarah-marilynn">
    <figure class="image">
      <img src="/images/north-2018/sarah-wingfield-marilynn-connelly.jpg" alt="Sarah Wingfield &amp; Marilynn Connelly" />
    </figure>
    <div class="content description">
{{#markdown}}
### Sarah Wingfield and Marilyn Connelly
Sarah Wingfield and Marilyn Connelly collaborate to explore color fields. Pulling inspiration from visual artists such as Mark Rothko, Carlos Cruz Diez, James Turrell, and Olafur Eliasson, this improvisational score and projection are designed around the concepts and theories provided by color field artists from the 1950's and 60's to the present.
{{/markdown}}
    </div>
  </section>

  <section class="feature" id="sarah-annie-navarrete">
    <figure class="image center">
      <img src="/images/north-2018/sarah-annie-navarrete.jpg" alt="Sarah Annie Navarrete" />
    </figure>
    <div class="content description">
{{#markdown}}
### Sarah Annie Navarrete
Two bodies, in repetitive motion, exploring subtleties of energetic traction mixed with mechanical interplay.
{{/markdown}}
    </div>
  </section>

  <section class="feature column-layout" id="clay-moore">
    <figure class="image top">
      <img src="/images/north-2018/clay-moore.jpg" alt="Clay Moore" />
    </figure>
    <div class="content description">
{{#markdown}}
### Clay Moore
_Monarch_ - Capturing the beauty of a delicate butterfly. Showing power of one, growing and taking flight. Representation of king and queen.
{{/markdown}}
    </div>
  </section>

</div>
